@import "../variables";

.search-input{
    border: 0;
    border-radius: 5px;
}

.search-bar{
    left: 50%;
    transform: translateX(-65%);
    position: absolute;
    display: inline-flex;
    color: $color-white;
    .name{
        margin-right: 1vh;
        margin-top: -2.2vh;
    }
}

.music__wrapper{
    .search_h1{
        margin-right: 4vh;
      }
}

@media (min-width:320px) and (max-width:480px){
    .music__wrapper{
        .search_h1{
            margin-right: -5vh;
            margin-left: 5vh;
          }
    }
    .search-bar{
        left: 62%;
        transform: translateX(-65%);
        position: absolute;
        display: inline-flex;
        color: $color-white;
        .name{
            margin-right: 1vh;
            margin-top: -2.2vh;
        }
    }
}