*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    background-color: $color-black;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pages__wrapper{
    background-color: $color-black;
    height: 100vh;
  }

  .main-nav {
    left: 50%;
    right: 50%;
    transform: translate(-95%, -50%);
    display: inline-flex;
    position: absolute;
    bottom: ($base-size * -8);
    margin-left: -12vh;
    a {
      @extend %h2-placeholder;
      color: $color-white;
      text-decoration: none;
      font-size: 10px;
      margin-right: ($base-size * 2);
      text-align: center;
      padding: 12px 24px;
      background: $color-black;
      border-radius: $radius;
  
      &.active {
        border: 1px solid rgba(255, 255, 255, 0.289);
      }
  
    }
    &.hidden{
      display: none;
    }
   }

   .btn{
    background-color: $color-red;
    border: 15px solid $color-red;
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-semibold;
    font-size: 20px;
    padding-inline: 15px;
    border-radius: $radius;
    text-decoration: none;
   }

   .music__wrapper{
    margin-top: 12vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: $color-white;
   }

   @media (min-width:320px) and (max-width:480px){
    body{
      font-size: 10px;
      line-height: 1.7;
    }
    .container {
      max-width: 480px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .main-nav {
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      display: inline-flex;
      position: absolute;
      bottom: ($base-size * -8);
      margin-left: -12vh;
     }
   }

   @media (min-width:540px) and (max-width:1030px){
    .main-nav {
      left: 50%;
      right: 50%;
      transform: translate(-30%, -50%);
      display: inline-flex;
      position: absolute;
      bottom: ($base-size * -8);
      margin-left: -12vh;
     }
     .container {
      max-width: 1030px;
      margin: 0 auto;
      padding: 0 20px;
    }
   }


   