.header_h1{
    font-family: $font-bold;
    font-size: 100px;
    text-transform: uppercase;
}

.h1 {
    font-family: $font-bold;
    font-size: 26px;
    text-transform: uppercase;
  }
  
.h2 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
}
  
.h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}